micos/**/*.bat
micos/**/*.exe
micos/**/includes.h
micos/**/os_cfg.h
micos/**/app_cfg.h
micos/**/*.stackdump
micos/**/*.dll
micos/**/*.o
micos/**/*.a
micos/**/Makefile

.vs

!/freertos/
/freertos/*
!/freertos/FreeRTOS
!/freertos/Readme.md
!/freertos/images
/freertos/FreeRTOS/*
!/freertos/FreeRTOS/Demo
/freertos/FreeRTOS/Demo/Common
/freertos/**/Debug
!/freertos/FreeRTOS/Demo/Template
/freertos/FreeRTOS/Demo/Template/Debug
/freertos/FreeRTOS/Demo/Template/.vs